[submodule "vim/pack/packages/start/vim-autoformat"]
	path = vim/pack/packages/start/vim-autoformat
	url = https://github.com/chiel92/vim-autoformat
[submodule "vim/pack/packages/start/nerdtree"]
	path = vim/pack/packages/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/packages/start/vim-faust"]
	path = vim/pack/packages/start/vim-faust
	url = https://github.com/gmoe/vim-faust
[submodule "vim/pack/packages/start/ack"]
	path = vim/pack/packages/start/ack
	url = https://github.com/mileszs/ack.vim
[submodule "vim/pack/packages/start/bufexplorer"]
	path = vim/pack/packages/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
[submodule "vim/pack/packages/start/ctrlp.vim"]
	path = vim/pack/packages/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/packages/start/vim-abolish"]
	path = vim/pack/packages/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim/pack/packages/start/vim-commentary"]
	path = vim/pack/packages/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/packages/start/vim-fugitive"]
	path = vim/pack/packages/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/packages/start/vim-gitgutter"]
	path = vim/pack/packages/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/packages/start/vim-markdown"]
	path = vim/pack/packages/start/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim/pack/packages/start/vim-multiple-cursors"]
	path = vim/pack/packages/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "vim/pack/packages/start/vim-surround"]
	path = vim/pack/packages/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/packages/start/vim-yankstack"]
	path = vim/pack/packages/start/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack
[submodule "vim/pack/packages/start/goyo"]
	path = vim/pack/packages/start/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "vim/pack/packages/start/vim-zenroom2"]
	path = vim/pack/packages/start/vim-zenroom2
	url = https://github.com/amix/vim-zenroom2
[submodule "vim/pack/packages/start/gruvbox"]
	path = vim/pack/packages/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/pack/packages/start/lightline.vim"]
	path = vim/pack/packages/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/packages/start/mru.vim"]
	path = vim/pack/packages/start/mru.vim
	url = https://github.com/vim-scripts/mru.vim
[submodule "vim/pack/packages/start/vim-pandoc-syntax"]
	path = vim/pack/packages/start/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
[submodule "vim/pack/packages/start/vim-table-mode"]
	path = vim/pack/packages/start/vim-table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "vim/pack/packages/start/vim-pandoc"]
	path = vim/pack/packages/start/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule "vim/pack/packages/start/delimitate"]
	path = vim/pack/packages/start/delimitate
	url = https://github.com/raimondi/delimitmate
[submodule "vim/pack/packages/start/youcompleteme"]
	path = vim/pack/packages/start/youcompleteme
	url = https://github.com/valloric/youcompleteme
[submodule "vim/pack/packages/start/ale"]
	path = vim/pack/packages/start/ale
	url = https://github.com/w0rp/ale
[submodule "vim/pack/packages/start/vim-polyglot"]
	path = vim/pack/packages/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/pack/packages/start/vim-tidal"]
	path = vim/pack/packages/start/vim-tidal
	url = https://github.com/munshkr/vim-tidal
[submodule "vim/pack/packages/start/scvim"]
	path = vim/pack/packages/start/scvim
	url = https://github.com/sbl/scvim
[submodule "vim/pack/packages/start/vim-tmux-navigator"]
	path = vim/pack/packages/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/pack/packages/start/vimtex"]
	path = vim/pack/packages/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/pack/packages/start/vim-gutentags"]
	path = vim/pack/packages/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "simpylfold"]
	path = simpylfold
	url = https://github.com/tmhedberg/simpylfold
[submodule "vim/pack/packages/start/simpylfold"]
	path = vim/pack/packages/start/simpylfold
	url = https://github.com/tmhedberg/simpylfold
[submodule "vim/pack/packages/start/fastfold"]
	path = vim/pack/packages/start/fastfold
	url = https://github.com/konfekt/fastfold
